# Name: PixFRET

# Description:

# PixFRET
# Pixel by Pixel analysis of FRET with ImageJ
# Full information: http://www.unil.ch/cig/page16989.html
# Description:
# The plugin PixFRET allows to visualize the FRET between two partners in a cell
# or in a cell population by computing pixel by pixel the images of a sample 
# acquired in a three channel setting.
# Authors:
# Jerome Feige 1, Daniel Sage 2, Walter Wahli 1, Beatrice Desvergne 1, Laurent Gelman 1.
# 1 - Center for Integrative Genomics, NCCR frontiers in Genetics, University of Lausanne, Switzerland.
# 2 - Biomedical Imaging Group (BIG), Swiss Federal Institute of Technology Lausanne (EPFL), Switzerland.
# History:
# 24 January 2005: First version
# 25 Feburary 2005: Unique version for the three models: Constant, Linear, Exponential
# 27 April 2005: Add the model fitting
# 04 January 2006: Add the FRET efficiency computation
# 10 January 2006: Change the test for the thresholding
# 13 February 2006: Force the parameter a to 0 for the exponential model

# Version: 1.4.9
# Date: 10 April 2006

Plugins, "PixFRET...", PixFRET_
