###
# #%L
# PixFRET
# %%
# Copyright (C) 2005 - 2019 University of Lausanne and
# 			Swiss Federal Institute of Technology Lausanne (EPFL),
# 			Switzerland
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: PixFRET

# Description:

# PixFRET
# Pixel by Pixel analysis of FRET with ImageJ
# Full information: http://www.unil.ch/cig/page16989.html
# Description:
# The plugin PixFRET allows to visualize the FRET between two partners in a cell
# or in a cell population by computing pixel by pixel the images of a sample 
# acquired in a three channel setting.
# Authors:
# Jerome Feige 1, Daniel Sage 2, Walter Wahli 1, Beatrice Desvergne 1, Laurent Gelman 1.
# 1 - Center for Integrative Genomics, NCCR frontiers in Genetics, University of Lausanne, Switzerland.
# 2 - Biomedical Imaging Group (BIG), Swiss Federal Institute of Technology Lausanne (EPFL), Switzerland.
# History:
# 24 January 2005: First version
# 25 Feburary 2005: Unique version for the three models: Constant, Linear, Exponential
# 27 April 2005: Add the model fitting
# 04 January 2006: Add the FRET efficiency computation
# 10 January 2006: Change the test for the thresholding
# 13 February 2006: Force the parameter a to 0 for the exponential model

# Version: 1.4.9
# Date: 10 April 2006

Plugins, "PixFRET...", PixFRET_
